# 시스템 파일 및 디렉토리
.DS_Store
.Trash/
.Library/
.Pictures/
.Desktop/
.Documents/
.Downloads/
.Music/
.Movies/
.Public/
.OneDrive/
.PycharmProjects/

# Python 관련 파일
*.pyc
*.pyo
*.env
__pycache__/
venv/
db.sqlite3

# 로그 파일
debug.log

# 기타
*.swp
.vscode/
.idea/

../.CFUserTextEncoding
../.DS_Store
../.cups/
../.gitconfig
../.lesshst
../.psql_history
../.viminfo
../.zsh_history
../.zsh_sessions/
../Desktop/
../Documents/
../Downloads/
../Library/
../Movies/
../Music/
../OneDrive/
../Pictures/
../Public/
../PycharmProjects/
../debug.log
../manage.py
../security/

